<!DOCTYPE html>
<html>
<head>
  <title>Tiny Gags</title>
<%= stylesheet_link_tag('application') %>  
<%= csrf_meta_tag %>
</head>
<body>
<div class="ha-container">
<header>Owl Gags</header>
<%= yield %>
</div>

</body>
</html>
